@model TaskManagementApplication.Views.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Steps</h1>
    <p>Please complete the following onboarding steps.</p>
</div>

<div class="container">
    <table class="table table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">Step ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">UserWorkflowConfig</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var step in Model.Steps)
            {
                <tr>

                    <th scope="row">@step.Id</th>
                    <td>@step.Name</td>
                    <td>@step.Description</td>
                    <td>@($"{step.UserWorkflowConfigSerialized}")</td>
                    <td>
                        <form asp-action="CompleteStep">
                            <input type="hidden" name="StepId" value="@step.Id" />
                            <input type="hidden" name="NextActivityId" value="@step.NextActivityId" />
                            <button type="submit" class="btn btn-primary">Complete Step</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>